<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.github.peterchenhdu.site4j.biz.mapper.BizTypeMapper">
    <resultMap id="rm" type="com.github.peterchenhdu.site4j.biz.entity.BizType">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="pid" jdbcType="BIGINT" column="pid"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="description" jdbcType="VARCHAR" column="description"/>
        <result property="sort" jdbcType="INTEGER" column="sort"/>
        <result property="available" jdbcType="BIT" column="available"/>
        <result property="icon" jdbcType="VARCHAR" column="icon"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        pid,
        name,
        description,
        sort,
        create_time,
        update_time
    </sql>

    <select id="query" parameterType="com.github.peterchenhdu.site4j.biz.dto.req.TypeQueryDto"
            resultType="com.github.peterchenhdu.site4j.biz.dto.TypeDto">
        SELECT
        t.*,
        parent.name as parentName
        FROM
        biz_type t
        LEFT JOIN biz_type parent ON t.pid = parent.id
--         LEFT JOIN biz_type node ON node.pid = t.id
        WHERE
        1 = 1
        <if test="pid != null and pid != ''">
            AND t.pid = #{pid}
        </if>
        <if test="name != null and name != ''">
            AND t.name like '%'|| #{name , jdbcType=VARCHAR}||'%'
        </if>
        <if test="available != null">
            AND t.available = #{available}
        </if>
        ORDER BY
        t.sort ASC
    </select>

    <select id="listParent" resultMap="rm">
        SELECT
        t.*
        FROM
        biz_type t
        ORDER BY
        t.create_time DESC
    </select>

    <select id="listTypeForMenu" resultMap="rm">
        SELECT
        t.*
        FROM
        biz_type t
        ORDER BY
        t.sort ASC
    </select>


</mapper>

