<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2011-2025 PiChen
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.peterchenhdu.site4j.biz.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="com.github.peterchenhdu.site4j.biz.entity.Dict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="dict_key" jdbcType="VARCHAR" property="dictKey" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, dictType, dictKey, dictValue, create_time, update_time
  </sql>
</mapper>