<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="club.peterchenhdu.biz.mapper.ResourceMapper">
    <resultMap id="rm" type="club.peterchenhdu.biz.dto.SysResourceDto">
        <result property="id" jdbcType="VARCHAR" column="id"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="type" jdbcType="VARCHAR" column="type"/>
        <result property="url" jdbcType="VARCHAR" column="url"/>
        <result property="permission" jdbcType="VARCHAR" column="permission"/>
        <result property="parentId" jdbcType="BIGINT" column="parent_id"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result property="icon" jdbcType="VARCHAR" column="icon"/>
        <result property="checked" jdbcType="VARCHAR" column="checked"/>
        <association property="parent" javaType="club.peterchenhdu.biz.entity.Resource">
            <result property="id" jdbcType="VARCHAR" column="parent_id"/>
            <result property="name" jdbcType="VARCHAR" column="parent_name"/>
            <result property="type" jdbcType="VARCHAR" column="parent_type"/>
            <result property="url" jdbcType="VARCHAR" column="parent_url"/>
            <result property="parentId" jdbcType="VARCHAR" column="parent_parent_id"/>
            <result property="permission" jdbcType="VARCHAR" column="parent_permission"/>
            <result property="icon" jdbcType="VARCHAR" column="parent_icon"/>
        </association>
        <collection property="nodes" column="node_id" javaType="ArrayList"
                    ofType="club.peterchenhdu.biz.entity.Resource">
            <result property="id" jdbcType="VARCHAR" column="node_id"/>
            <result property="name" jdbcType="VARCHAR" column="node_name"/>
            <result property="type" jdbcType="VARCHAR" column="node_type"/>
            <result property="url" jdbcType="VARCHAR" column="node_url"/>
            <result property="parentId" jdbcType="VARCHAR" column="node_parent_id"/>
            <result property="permission" jdbcType="VARCHAR" column="node_permission"/>
            <result property="icon" jdbcType="VARCHAR" column="node_icon"/>
        </collection>
    </resultMap>
    <select id="findPageBreakByCondition" parameterType="club.peterchenhdu.biz.web.vo.ResourceConditionVO" resultMap="rm">
        SELECT
        com.*,
        f.id parent_id,
        f.name parent_name,
        f.icon parent_icon,
        f.type parent_type
        FROM
        resource com
        LEFT JOIN resource f ON com.parent_id = f.id
        WHERE
        1 = 1
        <if test="type !=null and type != ''">
        AND com.type =#{type , jdbcType=VARCHAR}
        </if>
        <if test="name !=null and name != ''">
            AND com.name like '%'|| #{name , jdbcType=VARCHAR}||'%'
        </if>
        ORDER by
        com.create_time DESC
    </select>

    <select id="listUrlAndPermission" resultMap="rm">
        SELECT
        url,
        permission
        FROM
        resource
        WHERE
        url IS NOT NULL
        ORDER BY
        sort ASC
    </select>

    <select id="listUserResources" parameterType="java.util.HashMap" resultMap="rm">
        SELECT
        re.id,
        re.name,
        re.parent_id,
        re.url,
        re.permission,
        re.icon,
        node.id AS node_id,
        node.name AS node_name,
        node.type AS node_type,
        node.url AS node_url,
        node.parent_id AS node_parent_id,
        node.permission AS node_permission,
        node.icon AS node_icon
        FROM
        resource re
        LEFT JOIN sys_role_resources rr ON re.id = rr.resources_id
        LEFT JOIN sys_user u ON rr.role_id = u.role_id
        LEFT JOIN resource node ON node.parent_id = re.id and node.type=#{type}
        WHERE
        (re.parent_id = '0' OR re.parent_id IS NULL )
        <if test="userId != null">
            AND u.id = #{userId}
        </if>
        <if test="type != null">
            AND re.type= #{type}
        </if>
        ORDER BY
        re.sort ASC,
        node.sort ASC
    </select>

    <select id="queryResourcesListWithSelected" parameterType="String" resultType="club.peterchenhdu.biz.dto.SysResourceDto">
        SELECT
        re.id,
        re.name,
        re.parent_id,
        re.url,
        re.type,
        re.icon,
        (
        CASE
        WHEN EXISTS (
        SELECT
        1
        FROM
        sys_role_resources rr
        WHERE
        rr.resources_id = re.id
        AND rr.role_id = #{rid}
        )
        THEN
        'true'
        ELSE
        'false'
        END
        ) AS checked
        FROM
        resource re
        ORDER BY
        re.sort ASC
    </select>

    <select id="listAllAvailableMenu" resultMap="rm">
        SELECT
        r.id,
        r.name,
        node.id AS node_id,
        node.name AS node_name,
        node.parent_id
        FROM
        resource r
        LEFT JOIN resource node ON (
        node.parent_id = r.id
        AND node.available = true
        AND node.type = 'menu'
        )
        WHERE
         r.type = 'menu'
        AND (r.url IS NULL OR r.url = '')
        AND (r.permission IS NULL OR r.permission = '')
        ORDER BY
        r.sort ASC,
        node.sort ASC
    </select>

    <select id="listAll" resultMap="rm">
        SELECT
        *
        FROM
        resource r
    </select>

    <select id="listByUserId" parameterType="String" resultMap="rm">
        SELECT
        re.id,
        re.name,
        re.parent_id,
        re.url,
        re.permission,
        re.icon,
        re.sort
        FROM
        resource re
        INNER JOIN sys_role_resources rr ON re.id = rr.resources_id
        INNER JOIN sys_user_role ur ON rr.role_id = ur.role_id
        WHERE
        ur.user_id = #{userId}
        ORDER BY
        re.parent_id ASC,
        re.sort ASC
    </select>
</mapper>

