<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="club.peterchenhdu.biz.mapper.ResourceMapper">
    <resultMap id="rm" type="club.peterchenhdu.biz.dto.ResourcesDto">
        <result property="id" jdbcType="VARCHAR" column="id"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="type" jdbcType="VARCHAR" column="type"/>
        <result property="parentName" jdbcType="VARCHAR" column="parent_name"/>
        <result property="url" jdbcType="VARCHAR" column="url"/>
        <result property="permission" jdbcType="VARCHAR" column="permission"/>
        <result property="parentId" jdbcType="BIGINT" column="parent_id"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result property="icon" jdbcType="VARCHAR" column="icon"/>
        <collection property="nodes" column="node_id" javaType="ArrayList"
                    ofType="club.peterchenhdu.biz.entity.Resource">
            <result property="id" jdbcType="VARCHAR" column="node_id"/>
            <result property="name" jdbcType="VARCHAR" column="node_name"/>
            <result property="type" jdbcType="VARCHAR" column="node_type"/>
            <result property="url" jdbcType="VARCHAR" column="node_url"/>
            <result property="parentId" jdbcType="VARCHAR" column="node_parent_id"/>
            <result property="permission" jdbcType="VARCHAR" column="node_permission"/>
            <result property="icon" jdbcType="VARCHAR" column="node_icon"/>
        </collection>
    </resultMap>

    <select id="findPageBreakByCondition" parameterType="club.peterchenhdu.biz.web.vo.ResourceConditionVO"
            resultMap="rm">
        SELECT
        com.*,
        f.name parent_name
        FROM
        resource com
        LEFT JOIN resource f ON com.parent_id = f.id
        WHERE
        1 = 1
        <if test="type !=null and type != ''">
        AND com.type =#{type , jdbcType=VARCHAR}
        </if>
        <if test="name !=null and name != ''">
            AND com.name like '%'|| #{name , jdbcType=VARCHAR}||'%'
        </if>
        ORDER by
        com.create_time DESC
    </select>



    <select id="listUserResources" parameterType="java.util.HashMap" resultMap="rm">
        SELECT
        re.id,
        re.name,
        re.parent_id,
        re.url,
        re.permission,
        re.icon,
        node.id AS node_id,
        node.name AS node_name,
        node.type AS node_type,
        node.url AS node_url,
        node.parent_id AS node_parent_id,
        node.permission AS node_permission,
        node.icon AS node_icon
        FROM
        resource re
        LEFT JOIN sys_role_resources rr ON re.id = rr.resources_id
        LEFT JOIN sys_user u ON rr.role_id = u.role_id
        LEFT JOIN resource node ON node.parent_id = re.id and node.type=#{type}
        WHERE
        (re.parent_id = '0' OR re.parent_id IS NULL )
        <if test="userId != null">
            AND u.id = #{userId}
        </if>
        <if test="type != null">
            AND re.type= #{type}
        </if>
        ORDER BY
        re.sort ASC,
        node.sort ASC
    </select>

    <select id="listByUserId" parameterType="String" resultMap="rm">
        SELECT
        re.id,
        re.name,
        re.parent_id,
        re.url,
        re.permission,
        re.icon,
        re.sort
        FROM
        resource re
        INNER JOIN sys_role_resources rr ON re.id = rr.resources_id
        INNER JOIN sys_user_role ur ON rr.role_id = ur.role_id
        WHERE
        ur.user_id = #{userId}
        ORDER BY
        re.parent_id ASC,
        re.sort ASC
    </select>
</mapper>

